html {
  font-family: "Noto Sans", sans-serif;
}

nav a {
  color: #005e76;
  text-decoration: none;

  border-bottom: 2px solid #8bc9d9;
}

nav a:hover {
  color: #005e76;

  border-bottom: 2px solid #005e76;
}

a:focus,
small:focus {
  outline: 2px solid #000;
}

.jap {
  font-family: "Noto Sans Japanese", sans-serif;
}

.btn-ghost {
  color: #005e76;
  border: 2px solid #0084a6;
}

.btn-ghost:hover {
  background-color: #8bc9d9;
  border-color: #005e76;
  color: #005e76;
}

hr {
  border-color: #e2e2e2;
}

@media only screen and (min-width: 60em) {

  .heading {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
