html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
  padding: 1rem;
}

img {
  display: block;
  width: 100%;
}

header {
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  display: flex;
  flex-direction: column;
  font-size: 2em;
  margin: 0;
  padding: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

ul li {
  font-size: 1.125rem;
  font-style: normal;
  padding: 0 .5rem 1rem;
}

a {
  color: #3783a3;
}

article > a {
  text-decoration: none;
  font-style: normal;
  border: .2rem #3783a3 solid;
  padding: .5em 1em .6em;
  border-radius: .3rem;
}

.intro {
  margin: 1.5rem auto;
  padding: 1rem;
  text-align: center;
  border-top: .2rem solid #e2e2e2;
  border-bottom: .2rem solid #e2e2e2;
  max-width: 30em;
  font-style: normal;
}

.intro i {
  font-size: 2rem;
}

h2 {
  display: flex;
  flex-direction: column;
}

section {
  display: grid;
  grid-gap: 1rem;
}

article {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 > span {
  font-size: 1.125rem;
  font-style: normal;
}

h2 > span {
  font-size: 1rem;
}

footer {
  border-top: .2rem solid #e2e2e2;
  margin-top: 1.5rem;
  padding-top: 1rem;
  text-align: center;
}

@media only screen and (min-width: 38em) {

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 .5rem 1rem;
  }

  h1 {
    align-items: flex-start;
  }

  section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  article p {
    flex-grow: 1;
  }
