html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
  padding: 1rem;
}

img {
  display: block;
  width: 100%;
}

header {
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

ul li {
  /* font-style: normal; */
  margin: .5em 1em .6em;
  font-style: normal;
}

a {
  color: #3783a3;
}

figcaption > a {
  text-decoration: none;
  font-style: normal;
  border: .2rem #3783a3 solid;
  padding: 1rem;
  border-radius: .3rem;
}

main {
  /* margin: 1.5rem; */
}

.intro {
  margin: 1.5rem auto 1.5rem;
  padding: 2rem;
  text-align: center;
  border-top: .2rem solid #e2e2e2;
  border-bottom: .2rem solid #e2e2e2;
  max-width: 30em;
  font-style: normal;
}

.intro i {
  font-size: 2rem;
}

section {
  /* display: flex;
  flex-wrap: wrap; */
  /* margin: 1.5rem; */
}

figure {
  margin: 0;
}


span {
  font-size: 1rem;
  font-style: normal;
}

h1 {
  display: flex;
  flex-direction: column;
}

*Typefaces:* (Already included in your HTML)
- *Text sizes:* `1rem`, `1.125rem`, `1.5rem`, `2rem`
- *Colours:* `#e2e2e2`, `#3783a3`, `#000`
- *Max lengths:* `30em`
- *Gaps:* `1rem`
- *Margins:* `1.5rem`
- *Paddings:* `.5em 1em .6em`, `1rem`, `.5rem`
- *Border thicknesses:* `.2rem`
- *Corner radii:* `.3rem`
